@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* shared style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

nav {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
}

.brand h3 {
    color: #FFFFFF;
    margin-top: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;

}

.nav-links a {

    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Subscribe-btn {

    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}

/* banner portion */
.banner {
    background: url("../assets/hero-bg.png") center/cover no-repeat;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: white;
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    background: url("../assets/hero-circle.png") center/cover no-repeat;
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge {
    position: absolute;
    top: 5px;
    margin-left: 170px;
    background: #00FF88;
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
}

.banner-img {
    width: 100%;
    max-width: 120px;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.banner-wrapper h1 {
    margin-top: 20px;
    font-size: 3.80rem;
    font-weight: 800;
}

.banner-wrapper p {
    width: 100%;
    max-width: 450px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 300;
}


.banner-buttons {
    margin-top: 20px;
    display: flex;
    gap: 8px;

}

.btn {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    border-radius: 24px;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

.btn-outline {
    color: #00FF88;
    border: #00FF88 1px solid;
    border-radius: 24px;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;

}

/* about portion */
.about {
    padding: 60px;
    text-align: center;
    background-color: #1A0B2E;
}

.about h2 {
    margin-top: 50px;
    margin-bottom: 16px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}

.about p {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;
    font-size: 1rem;
    font-weight: 300;
    color: #f2f2f2;
}

.stats {
    margin-top: 20px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.stat-box {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

.stat-box h3 {
    margin: 0 auto;
    color: #00FF88;
    font-size: 3rem;
    font-weight: bolder;
}

.stat-box p {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 20px;
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: 300;

}

.features {
    padding: 80px 10%;
    background-color: #160a2c;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.features h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 700;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    text-align: left;
    max-width: 1600px;
    margin: 0 auto;
}

.card {
    background: #1f1140;
    padding: 40px 30px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card img {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ffffff;
}

.card p {
    color: #a59abf;
    line-height: 1.6;
    font-size: 1rem;
    margin: 0;
}

.card:nth-child(1) {
    grid-row: span 2;
}

.card:nth-child(2) {
    grid-column: span 2;
}

.card:nth-child(3) {
    grid-column: span 2;
}

.card:nth-child(4) {
    grid-column: span 2;
}


@media (max-width: 576px) {
    .nav-links {
        display: none;
    }

    .Subscribe-btn {
        display: none;
    }


    .circle {
        width: 280px;
        height: 280px;
    }

    .banner-img {
        width: 90px;
    }

    .banner-wrapper h1 {
        font-size: 22px;
    }

    .banner-wrapper p {
        font-size: 13px;
    }

    .banner-buttons {
        /* flex-direction: column; */
    }

    .stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .features {
        padding: 40px 20px;
    }

    .feature-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        grid-row: auto;
        grid-column: auto;
        padding: 30px 20px;
    }

    .features h2 {
        font-size: 1.8rem;
    }
}